<tr data-projects-target = "card" class="border-violet-950 border-2">
	<td class="border-violet-950 border-2"><%= project.name %></td>
	<td class="border-violet-950 border-2"><%= project.description %></td>
	<td class="border-violet-950 border-2"><%= project.category %></td>
</tr>
