<tr data-projects-target = "card" class="<% if index.even?%>bg-violet-100<% end %>">
	<td class="border-violet-950 border-2"><%= project.name %></td>
	<td class="border-violet-950 border-2"><%= project.description %></td>
	<td class="border-violet-950 border-2"><%= project.category %></td>
</tr>